@use "variables" as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button {
  position: relative;
  display: inline-block;
  font-family: v.$fuente;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: v.$color-azul-oscuro;
  text-decoration: none;
  background-color: transparent;
  width: max-content;
  padding: 10px 0px;
  border: none;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: v.$color-azul-oscuro;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.10);
    
    &::after {
      transform: scaleX(1);
    }
  }
}

@mixin button_contact {
  position: relative;
  display: inline-block;
  font-family: v.$fuente;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: v.$color-azul-oscuro;
  text-decoration: none;
  background-color: transparent;
  width: max-content;
  padding: 10px 0px;
  border: none;
}

@mixin button_page {
  position: relative;
  display: inline-block;
  font-family: v.$fuente;
  font-size: 1rem;
  font-weight: 600;
  color: v.$color-azul-oscuro;
  text-decoration: none;
  width: max-content;
  padding: 10px 20px;
  background-color: v.$color-bg-claro2;
  border: 2px solid v.$color-azul-oscuro;
  border-radius: 15px;
  animation: info 2s ease-in-out infinite alternate;

  @keyframes info {
    0% {
      box-shadow: 0 0 0 0 v.$color-bg-claro1;
    }
    100% {
      box-shadow: 0 0 10px 6px v.$color-bg-claro1;
    }
  }

  span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }

  &:hover span {
    transform: scale(1.05);
    color: v.$color-blanco;
  }
}