// Tamaños pantalla para breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colores
$color-blanco: #FFFFFF;
$color-negro: #151515;
$color-gris-oscuro: #242424;
$color-gris-claro: #D9D9D9;
$color-verde: #4EE1A0;
$color-rojo: #FF6F5B;

// Fuentes
$fuente: "Space Grotesk", sans-serif;
$headingXL: 88px;
$headingL: 48px;
$headingM: 24px;
$bodyL: 18px;
