// Tamaños pantalla para breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colores
$color-blanco: #FFFFFF;
$color-negro: #010713;
$color-azul-oscuro: #072873;
$color-azul: #0B42C1;
$color-azul-claro: #3E75F4;
$color-bg-claro1: #d8e3fc;
$color-bg-claro2: #b0c0e7;

// Fuentes
$fuente: "Poppins", sans-serif;
$headingXL: 48px;
$headingL: 36px;
$headingM: 24px;
$bodyL: 20px;
$bodyM: 16px;
